* {
  font-family: sans-serif;
  color: #333;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
main {
  padding-left: 1px;
  padding-right: 1px;
  max-width: 900px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
a {
  color: #ff6a00;
}

#result-pesquisa {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 32px;
}
.card-img-top {
  max-width: 100px;
  border-radius: 100%;
  margin-right: 16px;
}
    
