/* Associação pelo NOME DO ELEMENTO */
h1{
  color:blue;
}

/* Associação pelo ID DO ELEMENTO */
#tit_1{
  font-size: 20px;
}

/* Associação pela CLASSE DO ELEMENTO */
.noticias{
  font-family: arial;
}

body{
  margin: 0px;
  padding: 0px;
}

.cabecalho{
  background: green;
  padding: 20px;
  color: white;
  text-align: center;
}

.conteudo{
  padding: 20px;
}